h1{
    color:brown;
    display: right;
    justify-content:left;
}
*{
    border:none;
}

.header{
    background-color: cadelblue;
    display: flex;
    justify-content:space-between;
}

.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}